.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,217,102),0 0.015em rgb(255,217,102),0.015em 0 rgb(255,217,102),0 -0.015em  rgb(255,217,102);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,217,102);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.003003px;}
._1{width:31.070000px;}
.fc1{color:rgb(5,99,193);}
.fc0{color:rgb(255,217,102);}
.fs1{font-size:96.000000px;}
.fs2{font-size:98.000000px;}
.fs0{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y8{bottom:33.020569px;}
.y7{bottom:56.060577px;}
.y6{bottom:79.100586px;}
.y11{bottom:94.035767px;}
.y10{bottom:119.955765px;}
.y5{bottom:145.180595px;}
.yf{bottom:155.875763px;}
.ye{bottom:181.795761px;}
.y4{bottom:211.260597px;}
.yd{bottom:217.715759px;}
.y3{bottom:234.300600px;}
.yc{bottom:253.635765px;}
.y2{bottom:289.226997px;}
.yb{bottom:289.555767px;}
.ya{bottom:330.851967px;}
.y1{bottom:354.027000px;}
.y9{bottom:395.651955px;}
.h2{height:66.750000px;}
.h3{height:76.753906px;}
.h1{height:164.062500px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x9{left:63.090820px;}
.xb{left:127.199951px;}
.x7{left:144.890656px;}
.x3{left:148.669952px;}
.xc{left:154.199951px;}
.x6{left:161.824249px;}
.x1{left:180.952179px;}
.x5{left:227.906281px;}
.xa{left:241.875000px;}
.x8{left:311.771500px;}
.x2{left:383.671890px;}
.x4{left:452.080078px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.337337pt;}
._1{width:41.426667pt;}
.fs1{font-size:128.000000pt;}
.fs2{font-size:130.666667pt;}
.fs0{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y8{bottom:44.027425pt;}
.y7{bottom:74.747437pt;}
.y6{bottom:105.467448pt;}
.y11{bottom:125.381022pt;}
.y10{bottom:159.941020pt;}
.y5{bottom:193.574127pt;}
.yf{bottom:207.834351pt;}
.ye{bottom:242.394348pt;}
.y4{bottom:281.680796pt;}
.yd{bottom:290.287679pt;}
.y3{bottom:312.400800pt;}
.yc{bottom:338.181020pt;}
.y2{bottom:385.635997pt;}
.yb{bottom:386.074356pt;}
.ya{bottom:441.135956pt;}
.y1{bottom:472.036001pt;}
.y9{bottom:527.535940pt;}
.h2{height:89.000000pt;}
.h3{height:102.338542pt;}
.h1{height:218.750000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x9{left:84.121094pt;}
.xb{left:169.599935pt;}
.x7{left:193.187541pt;}
.x3{left:198.226603pt;}
.xc{left:205.599935pt;}
.x6{left:215.765666pt;}
.x1{left:241.269572pt;}
.x5{left:303.875041pt;}
.xa{left:322.500000pt;}
.x8{left:415.695333pt;}
.x2{left:511.562520pt;}
.x4{left:602.773438pt;}
}
